# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List commonly used libraries of Data Science
* Evaluates arithmetic expressions in Python
    * converts minutes to hours

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. Scipy
7. Keras
8. TensorFlow
9. PyTorch

|Data Science Tools|
|------------------|
|Apache Spark|
|Apache Hadoop|
|Jupyter Notebook|
|Keras|
|Matlab|
|MySQL|
|Apache CouchDB|

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
#  This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [16]:
# This will convert 200 minutes to hours by diving by 60
min = 200
h=min // 60
m=min%60
print(f"{h} Hours {m} Minutes")

3 Hours 20 Minutes

## Author 
Farzana R